{% extends "Bilet33SiteBundle::layout.html.twig" %}

{% block content %}
    {% include 'Bilet33SiteBundle:Album:Include/album.html.twig' with {'album': album, 'full': true} %}

    <p>&nbsp;</p>
    <p><a class="btn btn-primary" href="{{ path('bilet33_site_albums') }}" role="button">&laquo; Все альбомы</a></p>
{% endblock %}

{% block javascripts %}
    {% include 'Bilet33SiteBundle:Album:Include/audiojsInit.html.twig'%}
{% endblock %}
