{% extends "Bilet33SiteBundle::layout.html.twig" %}

{% block content %}
    <h1>О проекте</h1>
    <p>Это проект &laquo;Билет 33&raquo;.</p>
    <p>ВКонтакте: <a href="http://vk.com/bilet33"><img src="https://pp.vk.me/c424917/v424917492/42ce/QmMPZSFi_1w.jpg" alt="VK" width="32"/>http://vk.com/bilet33</a></p>
    <p>Email для связи: jhekasoft<script>document.write('@')</script>gmail.com</p>
    <p>Сайт автора: <a href="http://jhekasoft.net">http://jhekasoft.net</a></p>
{% endblock %}
