{% extends "Bilet33SiteBundle::layout.html.twig" %}

{% block content %}
    <h1>Клипы</h1>

    <iframe width="560" height="315" src="//www.youtube.com/embed/h7t1Ql_VCQM" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="//www.youtube.com/embed/FX1A2mmTSK8" frameborder="0" allowfullscreen></iframe>
{% endblock %}
