body {
  padding-top: 70px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    /*.featurette-heading {*/
        /*margin-top: 120px;*/
    /*}*/
}

/* Audio JS
----------------------------- */

.audiojs .play-pause {
    width: auto;
}

.audiojs .progress {
    border-radius: 0;
}

ol.audio-list { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; margin-bottom: 40px; }
ol.audio-list li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
ol.audio-list li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
ol.audio-list li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
ol.audio-list li.playing a { color: #000; }
ol.audio-list li.playing:before { content: '▶'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

.album-list-item {
    cursor: pointer;
}
