{% if album.id %}
    {% capture albumLink %}{{ site.baseurl }}/album/{{ album.id }}/{{ album.slug }}{% endcapture %}
{% else %}
    {% capture albumLink %}{{ site.baseurl }}/album/other{% endcapture %}
{% endif %}

<div class="row featurette album-list-item"
    {% if full == false %}onclick="window.location.href='{{ albumLink }}'" {% endif %}>
    <div class="col-md-5">
        {% if album.coverFile %}
            <img class="featurette-image img-responsive" src="" alt="{{ album.title }}">
        {% else %}
            <img class="featurette-image img-responsive"
                 src="{{ site.baseurl }}{% if album.cover %}{{ album.cover }}{% else %}{{ '/assets/img/default_cover.jpg' }}{% endif %}"
                 alt="{{ album.title }}">
        {% endif %}
        {% if full and forMainPage != true and album.backCover %}
            <p>&nbsp;</p>
            <img class="featurette-image img-responsive" src="{{ album.backCover | prepend: site.baseurl }}" alt="{{ album.title }}">
        {% endif %}
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">{{ album.title }}
            {% if album.year %}<span class="text-muted">({{ album.year }})</span>{% endif %}
        </h2>
        <p class="lead">{{ album.shortDescription }}</p>
        {% if full %}
            {% if album.audios %}
                <audio preload></audio>
                <ol class="audio-list {% if forMainPage %}hidden{%endif%}">
                    {% for audio in album.audios %}
                        <li>
                            <a href="#" data-src="{{ audio.file | prepend: site.baseurl }}" class="{% if audio.lyrics %}audio-lyrics-link pseudo-link{% else %}audio-lyrics-empty{% endif %}">
                                {{ audio.title }}
                            </a>
                            {% if audio.lyrics %}
                                <div class="audio-lyrics">
                                    {{ audio.lyrics | newline_to_br }}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}

            {% if forMainPage %}
                <p>&nbsp;</p>
                <p><a class="btn btn-transparent" href="{{ albumLink }}" role="button">Подробнее &raquo;</a></p>
            {% else %}
                {{ album.description|raw }}
            {% endif %}
        {% else %}
            <p><a class="btn btn-primary" href="{{ albumLink }}" role="button">Подробнее &raquo;</a></p>
        {% endif %}
    </div>
</div>
